.job_exercises {
    text-align: center;
}
.sortable {
    border: 1px solid grey;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
    background-color: #ffffff;
}
.border-red{
    border: 2px solid red;
}