
body {
	width: 100%;
	padding: 0;
	margin: 0;
	}


.toolbar {
    background-color: #62c356;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 0 0 40px;
    height: 100px;
}
.btn-int-drag.reload.disabled {
    background-image: url("../img/buttons/2.png");
}
.btn-int-drag.reload {
    background-image: url("../img/buttons/1.png");
    height: 40px;
    margin-top: 6px;
    width: 100px;
    cursor: pointer;
}
.btn-int-drag.save.disabled {
    background-image: url("../img/buttons/4.png");
}
.btn-int-drag.save {
    background-image: url("../img/buttons/3.png");
    height: 40px;
    margin-top: 6px;
    width: 100px;
}
.btn-int-drag.check.disabled {
    background-image: url("../img/buttons/6.png");
}
.btn-int-drag.check {
    background-image: url("../img/buttons/5.png");
    height: 40px;
    margin-top: 6px;
    width: 100px;
    cursor: pointer;
}
.btn-int-drag.result.incorrect {
    background-image: url("../img/buttons/7.png");
    background-size: 280px auto;
}
.btn-int-drag.result.correct {
    background-image: url("../img/buttons/8.png");
    background-size: 280px auto;
}
.btn-int-drag.result {
    height: 166px;
    margin-top: 4px;
    width: 1102px;
}
.btn-int-drag {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 70px auto;
    border: 0 none;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

/*pazzle place*/
#dropContainer {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    height: 600px;
    position: absolute;
    width: 80%;
    z-index: 1;
	}
.droppable {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: grey;
    opacity: 0.3;
    display: none;
}
.flashing {
    border: 2px solid greenyellow;
    display: block;
}
#fitDrop1 {
    left: 10%;
    top: 20%;
}
#fitDrop2 {
    left: 30%;
    top: 10%;
}
#fitDrop3 {
    left: 14%;
    top: 55%;
}
#fitDrop4 {
    left: 5%;
    top: 38%;
}
#fitDrop5 {
     left: 90%;
     top: 20%;
 }
#fitDrop6 {
    left: 59%;
    top: 42%;
}
#fitDrop7 {
     left: 78%;
     top: 33%;
 }
#fitDrop8 {
    left: 8%;
    top: 72%;
}
	
/*pazzle items*/
#objContainer {
    height: 600px;
    padding-left: 80%;
    position: absolute;
    width: 20%;
    /*z-index: 999;*/
    overflow-y: scroll;
}
#objContainer div {
    z-index: 999;
}

.clear{
	clear:both;
}

/* property moving objects */
.draggable {
	padding: 0;
	margin: 0;
	width: 100px;
	height: 100px;
}
.draggable div {
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 150px;
	padding: 0;
	margin: 0;
}
.dObj1 {
     background-image: url("../img/earth1.png");
 }
.dObj2 {
    background-image: url("../img/jupiter1.png");
}
.dObj3 {
    background-image: url("../img/mars1.png");
}
.dObj4 {
    background-image: url("../img/mercury1.png");
}
.dObj5 {
    background-image: url("../img/neptune1.png");
}
.dObj6 {
    background-image: url("../img/saturn1.png");
}
.dObj7 {
    background-image: url("../img/uranus1.png");
}
.dObj8 {
    background-image: url("../img/venus1.png");
}

