
body {
	width: 100%;
	padding: 0;
	margin: 0;
	}


.toolbar {
    background-color: #62c356;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 0 0 40px;
    height: 100px;
}
.btn-int-drag.reload.disabled {
    background-image: url("../img/buttons/2.png");
}
.btn-int-drag.reload {
    background-image: url("../img/buttons/1.png");
    height: 40px;
    margin-top: 6px;
    width: 100px;
    cursor: pointer;
}
.btn-int-drag.save.disabled {
    background-image: url("../img/buttons/4.png");
}
.btn-int-drag.save {
    background-image: url("../img/buttons/3.png");
    height: 40px;
    margin-top: 6px;
    width: 100px;
}
.btn-int-drag.check.disabled {
    background-image: url("../img/buttons/6.png");
}
.btn-int-drag.check {
    background-image: url("../img/buttons/5.png");
    height: 40px;
    margin-top: 6px;
    width: 100px;
    cursor: pointer;
}
.btn-int-drag.result.incorrect {
    background-image: url("../img/buttons/7.png");
    background-size: 280px auto;
}
.btn-int-drag.result.correct {
    background-image: url("../img/buttons/8.png");
    background-size: 280px auto;
}
.btn-int-drag.result {
    height: 166px;
    margin-top: 4px;
    width: 1102px;
}
.btn-int-drag {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 70px auto;
    border: 0 none;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

/*pazzle place*/
#dropContainer {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: 80%;
    float: left;
    height: 600px;
    position: absolute;
    width: 80%;
	}
.droppable {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: grey;
    opacity: 0;
}
.flashing {
    border: 2px solid greenyellow;
    display: block;
}

	
/*pazzle items*/
.clear{
	clear:both;
}

/* property moving objects */
#objContainer {
    height: 100%;
    overflow-y: scroll;
}
.draggable {
    position: relative;
	padding: 0;
	width: 100px;
	height: 100px;
    left: 81%;
}
.draggable div {
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 150px;
	padding: 0;
	margin: 0;
}


.on {
    background-color: inherit;
}
.on div {

    background-size: contain;
    height: 100%;
    width: 100%;
    opacity: 1;
}

